ASSISTANT_HOST=127.0.0.1
ASSISTANT_PORT=8765
ASSISTANT_SECRET=change-this-long-local-passphrase
ASSISTANT_DATA_DIR=./data
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=mistral
STT_ENGINE=mock
WHISPER_CPP_BIN=
WHISPER_MODEL_PATH=
VOSK_MODEL_PATH=
TTS_ENGINE=mock
